/*  COMPONENTES CSS */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*  Corpo do app */
.ms_corpo{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:0;
    padding:0;
    overflow: auto;
    z-index: 0;
}
.Carregando{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:0;
    padding:0;
    z-index: 9999999999;
    background-color:#333;
    opacity: 0.9;
    display: none;
}

.Carregando span {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-30px;
    margin-top:-30px;
    color:rgb(0, 0, 0);
    font-size:70px;
    color:#eee;
    animation: loading 2s linear infinite;
}

@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}






@font-face {
    font-family: 'SecondL';
    src: url('./fonts/SecondLessonPersonalUseRegular-eZgX6.otf');
  }

  @font-face {
    font-family: 'Flame-Regular-Bold';
    src: url('./fonts/FlameBold.otf');
  }

  @font-face {
    font-family: 'Flame-Regular';
    src: url('./fonts/FlameRegular.otf');
  }

  .menu-bk{
    font-family:Flame-Regular!important;
    font-size:24px!important;
    color:#541f11!important;
  }
  .titulos-bk{
    font-family:Flame-Regular!important;
    font-size:31px!important;
    color:#541f11!important;
  }
  @font-face {
    font-family: 'Flame-Regular-sans';
    src: url('./fonts/FlameSans.otf');
  }

  @font-face {
    font-family: 'Flame-Regular-condensend';
    src: url('./fonts/FlameCondensed.otf');
  }



  .font-flam{
    font-family:Flame-Regular!important;
  }